build
.vscode
data/*/*.yaml
config_files
__pycache__
src/constants.mod
tmp
*constants.mod
*.png
Untitled-1.ipynb
log.txt
spectra.dat
spectra_2d.dat
Universe
Universe_Taylor
phase_shift
notebooks
spectra.json
.gitignore
