build
.vscode
data/*/*.yaml
config_files
__pycache__
src/constants.mod
tmp
*constants.mod
*.png
Untitled-1.ipynb
log.txt
spectra.dat
spectra_2d.dat
Universe
Universe_Taylor
phase_shift
notebooks
spectra.json
.gitignore
output
ANDT_*
Qval_Study
76Ge_2nu_2betaMinus_closure
124Xe
124Xe_closure
124Xe_taylor
130Te_2nu_2betaMinus_closure
AME2020_ENSDF2025
data_server
*.pdf
